{% extends 'core/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row g-0">
        <!-- Contenido de navegación -->
        <main class="col-md-9 col-lg-10">

            <div class="px-md-1 text-white space-windows">

                <!-- Encabezado y panel de control -->
                <div class="d-flex justify-content-between align-items-center mb-4">

                    <div>         
                        <h2>
                            <svg id="icono-perfil" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                <path fill-rule="evenodd" d="M14 14s-1-1.5-6-1.5S2 14 2 14s1-4 6-4 6 4 6 4z"/>
                            </svg>
                        </h2>            
                        <h2 class="fw-bold mb-1 d-flex align-items-center">
                            Bienvenido {{ user.username }}, 
                            <span id="saludo" class="ms-2"></span>
                        </h2>
                                            
                        <p class="mb-0">
                            Panel de control.
                        </p>
                    </div>

                </div>

                <!-- TARJETAS -->
                <div class="row g-4 mb-4 text-center">

                    <!-- Proyectos -->
                    <div class="col-sm-8 col-xl-8">

                        <div class="card shadow-sm border-0 h-100">

                            <div class="card-body">

                                <div class="d-flex justify-content-between">

                                    <div>
                                        <p class="text-white mb-5">
                                            Añadir proyectos
                                        </p>

                                        <h2 class="fw-bold mb-0">
                                            <a href="{% url 'proyecto_create' %}" class="btn btn-primary">Formulario de proyecto</a>
                                        </h2>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- Perfil -->
                    <div class="col-sm-4 col-xl-4">

                        <div class="card shadow-sm border-0 h-100">

                            <div class="card-body">

                                <div class="d-flex justify-content-between">

                                    <div>
                                        <p class="text-white mb-5">
                                            Estado activo
                                        </p>

                                        <h5 class="fw-bold mb-0 text-success">
                                            <div class="fs-2">
                                                ✅
                                            </div>
                                        </h5>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- Vistas de proyectos y tareas -->
                <div class="card shadow-sm border-0">
                    <div class="card-body p-4">

                        <!-- proyectos -->
                        <div class="row align-items-center mb-1 space-windows-dos">
                            <div class="col-md-4">
                                <h4 class="fw-bold mb-1 text-success">Mis proyectos</h4>
                            </div>
                            <div class="col-md-5">
                                <p class="text-white mb-0">Lista de proyectos.</p>
                            </div>
                            <div class="col-md-3 text-end">
                                <a href="{% url 'proyecto_list' %}" class="btn btn-outline-light">
                                    Ver mis proyectos
                                </a>
                            </div>
                        </div>

                        <!-- tareas -->

                    </div>
                </div>

            </div>

        </main>

    </div>

</div>
{% endblock %}


